.navbar-main {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 0.5vw 5vw;
}

.user-profile-pic {
    margin-top: 0.5vw;
}

.navbar-location-icon {
    margin-left: 8vw;
}

.navbar-contains-main {
    display: flex;
    margin-left: 4vw;
    gap: 4vw;
    margin-top: 0.6vw;
}

.navbar-contains {
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
}

.navbar-contains:hover {
    text-decoration: underline blue;
}

.input-main {
    width: 20vw;
    height: 2.5vw;
    margin-top: 0.5vw;
    margin-left: 8vw;
    background-color: #F5F5F5;
    border-radius: 0.3vw;
}

.search-input {
    margin-left: 1vw;
    margin-top: 0.4vw;
    width: 80%;
    background-color: #F5F5F5;
}

.search-input:focus {
    outline: none;
}

.search-icon {
    cursor: pointer;
    position: absolute;
    margin-top: 0.5vw;
    margin-left: 0.6vw;
    font-size: 1.35vw;
}

.more-options {
    display: flex;
    margin-left: 4vw;
    gap: 1vw;
}